#block-og-5 div.item-list ul { padding: 0; margin: 0;  }
#block-og-5 div.item-list ul ul li {margin:0}

/*used in node.tpl.php*/
.groups .links  {
  display: inline;
}

table.og-picture-grid {
  width: 100%;
}

table.og-picture-grid td {
  text-align: center;
  width: 20%;
  padding-bottom: 10px;
}

td.og-picture-grid-item {
  text-align: center;
  vertical-align: bottom;
}

td.og-picture-grid-item .group-role {
  font-style: italic;
}

