{#
/**
 * @file
 * Default theme implementation to show the member count of a group.
 *
 * Available variables:
 * - count: The number of members in the group.
 * - membership_states: An array of membership states included in the count.
 * - group: The group, which is a content entity.
 * - group_label: The group label.
 *
 * @see \Drupal\og\Plugin\Block\MemberCountBlock
 *
 * @ingroup themeable
 */
#}
<p>
    {% trans %}
        {{ group_label }} has 1 member.
    {% plural count %}
        {{ group_label }} has {{ count }} members.
    {% endtrans %}
</p>
